html, body {
    box-sizing: border-box;
    background-color: #d1fae5;
    height: 100%;
    padding: 10px;
    margin: 10px;
}

.container > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #e11d48;
}

.container>div:nth-child(1){
background-color: aqua;
}
.container>div:nth-child(2){
    background-color: black;
}
.container>div:nth-child(3){
    background-color: #a5b4fc;
}

